<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{static('css/normalize.css')}}">
    <link rel="stylesheet" href="{{static('css/reset.css')}}">
    <link rel="stylesheet" href="{{static('css/style.css')}}">
    {% block css_files %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="wrapper">
    <header class="header">
        <div class="container">
            <a class="logo-link" href="">
                <img class="logo-img" src="{{static('images/Logo-Tik-Talk.svg')}}" alt="Tik-Talk">
            </a>
            <nav class="nav">
                <ul class="header-list">
                    <li class="header-item">
                        <a class="header-link" href="{{url_for('home', show='true')}}">
                            <img class="header-img" src="{{static('images/home.svg')}}" alt="Home">
                            <p class="header-text">Моя страница</p>
                        </a>
                    </li>
                    <li class="header-item">
                        <a class="header-link" href="{{url_for('chat')}}">
                            <img class="header-img" src="{{static('images/chat.svg')}}" alt="Chat">
                            <p class="header-text">Чаты</p>
                        </a>
                    </li>
                    <li class="header-item">
                        <a class="header-link" href="">
                            <img class="header-img" src="{{static('images/search.svg')}}" alt="Search">
                            <p class="header-text">Поиск</p>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="subscribers">
                <p class="subscribers-text">Подписчики</p>
                <ul class="subscribers-list">
                    <li class="subscribers-item">
                        <img class="subscribers-img" src="{{static('images/subscribers/SaraKonnor.png')}}" alt="Sara Konnor">
                        <a class="subscribers-link" href="">Сара Коннор</a>
                    </li>
                    <li class="subscribers-item">
                        <img class="subscribers-img" src="{{static('images/subscribers/KristannaLoken.png')}}" alt="Kristanna Loken">
                        <a class="subscribers-link" href="">Кристанна Локен</a>
                    </li>
                    <li class="subscribers-item">
                        <img class="subscribers-img" src="{{static('images/subscribers/MichaelWinslow.png')}}" alt="Michael Winslow">
                        <a class="subscribers-link" href="">Майкл Уинслоу</a>
                    </li>
                </ul>
                <a class="subscribers-span" href="">
                    <p class="subscribers_text">Все подписчики</p>
                    <img src="{{static('images/arrow.svg')}}" alt="">
                </a>
            </div>
            <div class="ryan">
                <a class="ryan-link" href="">
                    <img class="ryan-img" src="{{static('images/ryan.png')}}" alt="">
                    <p class="ryan-text">ryan.gosling</p>
                    <img class="ryan-settings" src="{{static('images/settings.svg')}}" alt="">
                </a>
            </div>   
        </div>
    </header>

    <main class="main">
        {% block content %}{% endblock %}
    </main>
</body>
</html>