{% extends "base.html" %}

{% block css_files %}
    <link rel="stylesheet" href="{{static('css/home.css')}}" />
{% endblock %} 

{% block title %}Tik-Talk{% endblock title %} 

{% block content %}
    {% if show_content %}
        <section class="section-home">
            <div class="content">
                <div class="content-box">
                    <a class="content-box_link" href="">
                        <img class="content-box_img" src="{{static('images/ryan.png')}}" alt="Avatar">
                        <span class="content-box_span">
                            <h1 class="content-box_title">Райан Гослинг</h1>
                            <p class="content-box_text">ryan.gosling</p>
                        </span>
                    </a>
                    <h2 class="conten-box__title">Навыки</h2>
                    <span class="content-box__span">
                        <a class="content-box__link" href="">JS</a>
                        <a class="content-box__link" href="">CSS</a>
                        <a class="content-box__link" href="">Angular</a>
                    </span>
                    <h3 class="content-box-title">О себе</h3>
                    <p class="content-box-text">
                        Список навыков, который мы обсудили выше, — основа резюме, но не единственная его часть. 
                        Также можно рассказать о себе в классическом смысле — этот раздел можно добавить в сопроводительное письмо.
                    </p>
                </div>
            </div>
            <div class="content-block">
                <form class="conten-block_form">
                    <div class="label-box">
                        <label class= "label">Имя</label>
                        <input class="input" type="text" placeholder="Райан">
                    </div>
                    <div class="label-box">
                        <label class="label">Фамилия</label>
                        <input class="input" type="text" placeholder="Гослинг">
                    </div>
                </form>
                <form class="username">
                    <label class="username_label">telegram username</label>
                    <input class="username_input" type="text" placeholder="ryan.gosling">
                </form>
                <h2 class="contetn-block_title">О себе</h2>
                <p class="contetn-block_text">
                    Список навыков, который мы обсудили выше, — основа резюме, но не единственная его часть. 
                    Также можно рассказать о себе в классическом смысле — этот раздел можно добавить в сопроводительное письмо.
                </p>
                <div class="avatar">
                    <span class="avatar-span">Аватарка</span>
                    <div class="avatar-box">
                        <img class="avatar_img" src="{{static('images/ryan.png')}}" alt="Avatar">
                        <div class="avatar-images">
                            <img class="avatar-images_img" src="{{static('images/onDark.svg')}}" alt="onDark">
                            <p class="avatar-images_text">
                                Перетащите изображение или 
                                <a href="">Загрузите</a> 
                                (разрешение до 5,000 x 5,000 px)
                            </p>
                        </div>
                    </div>
                </div>
                <h3 class="contetn-block-title">Навыки</h3>
                <span class="content-block__span">
                    <a class="content-block__link" href=""> X JS</a>
                    <a class="content-block__link" href=""> X CSS</a>
                    <a class="content-block__link" href=""> X Angular</a>
                    <a class="content-block--link" href="">
                        <img src="{{static('images/icon.svg')}}" alt="Icon">
                    </a>
                </span>
                <div class="buttons">
                    <div class="buttons_1">
                        <button class="btn">
                            <img class="buttons_1-btn" src="{{static('images/delete.svg')}}" alt="">
                        </button>
                        <button class="btn">
                            <img class="buttons_1-btn" src="{{static('images/content.svg')}}" alt="">
                        </button>
                    </div>
                    <div class="buttons_2">
                        <button class="buttons_2-btn" type="submit">Отмена</button>
                        <button class="buttons_2__btn" type="submit">Сохранить</button>
                    </div>
                </div>
            </div>
        </section>
    {% else %}
        <!-- Пустая страница -->
        <div style="text-align: center; padding: 50px;">
            <h2>Добро пожаловать в Tik-Talk</h2>
            <p>Нажмите "Моя страница", чтобы увидеть контент</p>
        </div>
    {% endif %}
{% endblock content %}